.container {
  display: flex;
}

.bottom {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.bottom_left {
  margin-bottom: 1em;
}
